<div class="player-timer row min-gutter">
  
  <div class="col-xs-3">
    <input type="text" [(ngModel)]="player.name" class="form-control input-lg" placeholder="Name..."/>
  </div>

  <div class="col-xs-6">
    <button (click)="toggleTimer()" 
            class="btn btn-lg btn-block" 
            [ngClass]="{ 
              'btn-primary': !player.isRunning,
              'btn-warning': player.isRunning && !isOverTime(),
              'btn-danger': player.isRunning && isOverTime()
            }">
      <i class="fa" [ngClass]="{
          'fa-pause': player.isRunning, 
          'fa-play': !player.isRunning
        }"></i>
      {{elapsedTime | durationClock }}
      <small>
        ( {{elapsedTimeTotal | durationClock }} )
      </small>
   </button>
  </div>



  <div class="col-xs-3">
    <div class="btn-group btn-block" role="group" aria-label="...">
      <button (click)="resetTimer()" type="button" class="btn btn-lg btn-warning"><i class="fa fa-refresh"></i></button>
      <button (click)="deleteSelf()" type="button" class="btn btn-lg btn-danger"><i class="fa fa-trash"></i></button>
    </div>
  </div>

</div>
