<div class="player-timer row min-gutter">
  
  <div class="col-xs-4">
    <input type="text" [(ngModel)]="player.name" class="form-control" placeholder="Name..."/>
  </div>

  <div class="col-xs-6">
    <button (click)="toggleTimer()" 
            class="btn btn-block" 
            [ngClass]="{ 
              'btn-primary': !player.isRunning,
              'btn-warning': player.isRunning && !isOverTime(),
              'btn-danger': player.isRunning && isOverTime()
            }">
      <i class="fa fa" [ngClass]="{
          'fa-pause': player.isRunning, 
          'fa-play': !player.isRunning
        }"></i>
      {{elapsedTime | durationClock }}
      <small>
        ( {{elapsedTimeTotal | durationClock }} )
      </small>
  </button>
  </div>
  
  <div class="col-xs-1">
    <button (click)="resetTimer()" class="btn btn-warning btn-block"><i class="fa fa fa-refresh"></i></button>
  </div>
  <div class="col-xs-1">
    <button (click)="deleteSelf()" class="btn btn-danger btn-block"><i class="fa fa fa-trash"></i></button>
  </div>
</div>


<audio id="player">
  <source id="source" src="/sounds/plink.mp3"/>
</audio>
