<div class="row">
  <button (click)="addPlayer()" class="btn btn-lg btn-block btn-default">Add Player <i class="fa fa-plus"></i></button>
</div>

<div class="row">
  <div class="col-lg-offset-3 col-lg-6">  
    <ul class="list-unstyled">
      <li *ngFor="let player of players">
        <app-player-timer 
              (delete)="deletePlayer($event)"
              (start)="playerStarted($event)"
              (overTime)="playOverTimeSound($event)"
              [player]="player"
              [threshold]="threshold"
              >
        </app-player-timer>
      </li>
    </ul>

    <button (click)="foo()" class="btn btn-lg btn-default">Test</button>

    <label>Time threshold: </label>    
    <input type="number" class="input-lg" [(ngModel)]="threshold" placeholder="warn after n seconds..." />

  </div>
</div>

<audio id="player">
  <source id="source" src="sounds/plink.mp3"/>
</audio>
